footer.section.footer
    .hero-wrapper
        .section_hero-content
            .wrapper-line-footer-up.clearfix
                ul.footer-nav-panel-up
                    li
                        a(href="javascript:;") Услуги и цены
                    li
                        a(href="javascript:;") Поддержка
                    li
                        a(href="javascript:;") Акции
                    li
                        a(href="javascript:;") Компания
                    li
                        a(href="javascript:;") Информация
                    li
                        a(href="javascript:;") Новости
                    li
                        a(href="javascript:;") Статьи
                    li
                        a(href="javascript:;") Контакты
        .footer-section-bg
            .section_hero-content
                .wrapper-line-footer-contact.clearfix
                    .section-row
                        .column-adders.col.col-sm-4
                            .column-adders-text
                                |Для физ лиц и организаций:
                            a(href="tel:+74951182220").column-adders-link.mb-10 +7 (495) 118-22-20
                            .column-adders-text
                                |C 8:00 до 20:00
                            .column-adders-text
                                strong.column-adders-text-name
                                    |Юзышина Марина
                                br
                                |Менеджер по работе с клиентами.
                        .column-adders.col.col-sm-4
                            .column-adders-text
                                |Для суда/следствия:
                            a(href="tel:+74994084008").column-adders-link.mb-10 +7 (499) 408-40-08
                            .column-adders-text
                                |C 8:00 до 20:00
                            .column-adders-text
                                strong.column-adders-text-name
                                    |Алфеева Татьяна
                                br
                                |Cертифицированный эксперт высшей категории.
                        .column-adders.col.col-sm-4.right
                            .column-adders-text
                                |Информация для клиента:
                            ul.column-adders-text-menu
                                li
                                    a(href="javascript:;") Реквизиты
                                li
                                    a(href="javascript:;") Скачать документы
                                li
                                    a(href="javascript:;") Адреса офисов
                                li
                                    a(href="javascript:;") Поддержка
                                li
                                    a(href="javascript:;") Оставить отзыв
                    .section-row
                        .col.col-xs-12.footer-scblock
                            ul
                                li
                                    a(href="javascript:;").icon
                                        img(src="/assets/templates/triumf/images/sc_001.svg" alt="")
                                li
                                    a(href="javascript:;").icon
                                        img(src="/assets/templates/triumf/images/sc_002.svg" alt="")
                                li
                                    a(href="javascript:;").icon
                                        img(src="/assets/templates/triumf/images/sc_003.svg" alt="")
                                li
                                    a(href="javascript:;").icon
                                        img(src="/assets/templates/triumf/images/sc_004.svg" alt="")
                                li
                                    a(href="javascript:;").icon
                                        img(src="/assets/templates/triumf/images/sc_005.svg" alt="")
                                li
                                    a(href="javascript:;").icon
                                        img(src="/assets/templates/triumf/images/sc_006.svg" alt="")
        .footer-section-private
            .section_hero-content
                ul
                    li
                        a(href="javascrip:;") Соглашение с условиями сайта
                    li
                        a(href="javascrip:;") Политика конфиденциальности
        .footer-section-copiright
            .section_hero-content.clearfix
                .copyright
                    img(src="/assets/templates/triumf/images/logo_footer.svg" alt="")
                    .copyright-text
                        |ООО Экспертный центр Триумф.
                        br
                        |АНО Судебно–экспертный центр Триумф © 2018
                a(href="https://studionions.ru/" target="_blank") Разработка сайта
                a(href="javascript:;") Карта сайта
