.header
    .header-background
    .header-wrapper
            .header-wrapper-section.clearfix
                .header-wrapper-section-column.left
                    .header-wrapper-section-column-flex
                        h1
                            |Проверка
                            =' '
                            br
                            |на детекторе лжи
                        p
                            |10 лет безупречной работы с высокой точностью
                        span.info
                            |Необходимая информация
                        .header-wrapper-section-column-btn
                            .button-box-big
                                a.button-box(href="javascript:;")
                                    |Выбрать вид проверки
                            .button-box-big.red
                                a.button-box.red(href="javascript:;")
                                    |Раздел для клиента
                .header-wrapper-section-column.right
                    .header-section-flex
                        .header-section-flex-block
                            .header-section-flex-block-wrapper
                                img(src="assets/templates/triumf/images/check.svg" alt="")
                                p
                                    |Используются современные и закрытые от интернета методы
                        .header-section-flex-block
                            .header-section-flex-block-wrapper
                                img(src="assets/templates/triumf/images/check.svg" alt="")
                                p
                                    |Качество исследований отвечает всем требованиям мировых стандартов
                        .header-section-flex-block
                            .header-section-flex-block-wrapper
                                img(src="assets/templates/triumf/images/check.svg" alt="")
                                p
                                    |Эксперты Триумфа проходят строгий отбор и контроль за соблюдением методики
                        .header-section-flex-block
                            .header-section-flex-block-wrapper
                                img(src="assets/templates/triumf/images/check.svg" alt="")
                                p
                                    |Гарантия качественной услуги или вернём деньги
