section.section.section-h.homepage
    .hero.header2
        .hero-wrapper
            .hero-wrapper-wow.section_hero.wow
                .section_hero-content.header2-linear
                    .section_hero-content-wrapper
                        .section-row
                            .col.col-standart.col-md-6.header2-heading-photo_wrapper
                                img.header2-heading-photo(src="/assets/templates/triumf/images/tatyana_ng_new.png")
                            .col.col-standart.col-md-6
                                .header2-heading
                                    h1
                                        |Проверка на детекторе лжи
                                    p
                                        |Для заказа звоните:
                                        =' '
                                    a.header2-heading-phone(href="tel:+74951182220")
                                        |+7 (495) 118-22-20
                                .header2-slider
                                    .header2-slider-slick
                                        .slick
                                            .slick-item
                                                a.header2-slider-slick-link(href="javascript:;")
                                                    h4.header2-slider-slick-title
                                                        |Не хватает доказательств в суде?
                                                    .header2-slider-slick-content
                                                        p
                                                            |Закажите судебный формат заключения эксперта/ специалиста, чтобы обеспечить себе перевес доказательств в суде и увеличить шансы на победу.
                                                    img.header2-slider-slick-icon(src="/assets/templates/triumf/images/goto.svg" alt="Подробнее...")
                                            .slick-item
                                                a.header2-slider-slick-link(href="javascript:;")
                                                    h4.header2-slider-slick-title
                                                        |Хотите узнать правду, кто совершил кражу?
                                                    .header2-slider-slick-content
                                                        p
                                                            |Проверка на полиграфе по факту хищения – это самый быстрый и экономичный способ найти вора.
                                                    img.header2-slider-slick-icon(src="/assets/templates/triumf/images/goto.svg" alt="Подробнее...")
                                            .slick-item
                                                a.header2-slider-slick-link(href="javascript:;")
                                                    h4.header2-slider-slick-title
                                                        |Хотите защитить свою компанию от проблемных сотрудников?
                                                    .header2-slider-slick-content
                                                        p
                                                            |Проверяя на полиграфе кандидата еще при приеме на работу, Вы отсеиваете сразу неблагонадежных работников, наносящих ущерб по следующим категориям рисков:
                                                    img.header2-slider-slick-icon(src="/assets/templates/triumf/images/goto.svg" alt="Подробнее...")
                                            .slick-item
                                                a.header2-slider-slick-link(href="javascript:;")
                                                    h4.header2-slider-slick-title
                                                        |Как сократить финансовый ущерб, наносимый работниками?
                                                    .header2-slider-slick-content
                                                        p
                                                            |Периодическая проверка на полиграфе помогает не только определить наносящих ущерб, но и является мощным сдерживающим фактором от совершения противоправных действий, наносящих ущерб компании.
                                                    img.header2-slider-slick-icon(src="/assets/templates/triumf/images/goto.svg" alt="Подробнее...")
                                        .slick-usedots
                                        .slick-usearrows
