.mainmenu
	.mainmenu-wrapper
		.mainmenu-wrapper-container
			a.logo(href="/")
				img(src="assets/templates/triumf/images/logo_head.svg" alt="")
			nav.mainmenu-wrapper-container-nav.navigation
				.navigation-panel
					.navigation-panel-wrapper
						ul.navigation-list.first
							li
								a(href="javascript:;")
									|Физ лицам
							li
								a(href="javascript:;")
									|Организациям
							li
								a(href="javascript:;")
									|Для суда
						ul.navigation-list.last
							li
								a(href="javascript:;")
									|Услуги и цены
							li
								a(href="javascript:;")
									|Поддержка
							li
								a(href="javascript:;")
									|Контакты
							li.dropdown
								a#menu1(href="javascript:;" data-toggle="dropdown")
									|Еще...
								ul.dropdown-list(aria-labelledby="menu1")
									li
										a(href="javascript:;")
											|Акции
									li
										a(href="javascript:;")
											|Компания
									li
										a(href="javascript:;")
											|Инфо
									li
										a(href="javascript:;")
											|Опять Инфо
									li
										a(href="javascript:;")
											|Сново Инфо
									li
										a(href="javascript:;")
											|Ещё Инфо
						.navigation-box-button
							.button-box-big.red
								a.btn.btn-red(href="javascript:;")
									span Раздел для клиента
			a.phone(href="tel:84951182220")
				|+7 (495) 118-22-20
			.close-block
				.box-button-close
					.line
					.line
					.line
