section.section.section-h.homepage
    .hero.informations
        .hero-wrapper
            .hero-wrapper-wow.section_hero.wow
                .section_hero-head
                    .section_hero-head-content
                        h2
                            |Лучшие предложения и акции
                        p
                            |Подберите специальное предложение на проверку с применением полиграфа (детектора лжи).
                .section_hero-content
                    .section_hero-content-wrapper
                        .section-row
                            .col.col-md-3.col-sm-6.column-standart
                                .column-standart-row.blockaction-plitka.overflow-hidden
                                    .actions-photo
                                        .stok-block
                                        .stok-block-photo(style="background-image: url('assets/templates/triumf/images/information.jpg');")
                                    .actions-name
                                        .heading-stok
                                            p.heading-stok-text-info При приеме на работу новых сотрудников
                            .col.col-md-3.col-sm-6.column-standart
                                .column-standart-row.blockaction-plitka.overflow-hidden
                                    .actions-photo
                                        .stok-block
                                        .stok-block-photo(style="background-image: url('assets/templates/triumf/images/information.jpg');")
                                    .actions-name
                                        .heading-stok
                                            p.heading-stok-text-info При приеме на работу новых сотрудников
                            .col.col-md-3.col-sm-6.column-standart
                                .column-standart-row.blockaction-plitka.overflow-hidden
                                    .actions-photo
                                        .stok-block
                                        .stok-block-photo(style="background-image: url('assets/templates/triumf/images/information.jpg');")
                                    .actions-name
                                        .heading-stok
                                            p.heading-stok-text-info При приеме на работу новых сотрудников
                            .col.col-md-3.col-sm-6.column-standart
                                .column-standart-row.blockaction-plitka.overflow-hidden
                                    .actions-photo
                                        .stok-block
                                        .stok-block-photo(style="background-image: url('assets/templates/triumf/images/information.jpg');")
                                    .actions-name
                                        .heading-stok
                                            p.heading-stok-text-info При приеме на работу новых сотрудников
                .section_hero-footer.flexjustify-center
                    a(href="javascript:;").button-box
                        |Подробнее
