section.section.section-h.homepage
    .hero.high_standards
        .hero-wrapper
            .hero-wrapper-wow.section_hero.wow
                .section_hero-head
                    .section_hero-head-content
                        h2
                            |Высокие стандарты Триумфа
                        p
                            |10 лет безупречной работы!
                            br
                            |Качественная проверка на полиграфе окупается в десятки раз. Именно поэтому наши клиенты, юристы возвращаются к нам и рекомендуют своим знакомым.
                .section_hero-content
                    .section_hero-content-wrapper
                        .section-row
                            .col.col-md-6.col-sm-6.column-standart.high_standard
                                .column-standart-row.high_standard-plitka.overflow-hidden
                                    a(href="javascript:;")
                                        .actions-name
                                            .heading-stok
                                                p.high_standard-title
                                                    |Используются современные и закрытые от интернета методы
                                                img.icon(src="assets/templates/triumf/images/goto.svg")
                            .col.col-md-6.col-sm-6.column-standart.high_standard
                                .column-standart-row.high_standard-plitka.overflow-hidden
                                    a(href="javascript:;")
                                        .actions-name
                                            .heading-stok
                                                p.high_standard-title
                                                    |Качество исследований отвечает всем требованиям мировых стандартов
                                                img.icon(src="assets/templates/triumf/images/goto.svg")
                            .col.col-md-6.col-sm-6.column-standart.high_standard
                                .column-standart-row.high_standard-plitka.overflow-hidden
                                    a(href="javascript:;")
                                        .actions-name
                                            .heading-stok
                                                p.high_standard-title
                                                    |Эксперты Триумфа проходят строгий отбор и контроль за соблюдением методики
                                                img.icon(src="assets/templates/triumf/images/goto.svg")
                            .col.col-md-6.col-sm-6.column-standart.high_standard
                                .column-standart-row.high_standard-plitka.overflow-hidden
                                    a(href="javascript:;")
                                        .actions-name
                                            .heading-stok
                                                p.high_standard-title
                                                    |Гарантия качественной услуги или вернём деньги
                                                img.icon(src="assets/templates/triumf/images/goto.svg")
                            .col.col-xs-12.column-standart.high_standard
                                .column-standart-row.high_standard-confirm.overflow-hidden
                                    h4.high_standard-confirm-title
                                        |Внимание!
                                    .high_standard-confirm-wrapper
                                        .section-row
                                            .col.col-md-6.col-sm-6.column-standart
                                                p
                                                    |Поверхностное тестирование на полиграфе сторонними специалистами, иногда выдаваемые за настоящее исследование, из-за нарушения методики могут представлять угрозу для финансового благополучия организации.
                                            .col.col-md-6.col-sm-6.column-standart
                                                p
                                                    |Обращаясь в Триумф вы можете быть уверены в том, что здесь всегда соблюдаются требования методики. Настоящее исследование длится около 2 часов и более.
