section.section.section-h.homepage
    .hero.standarts
        .hero-wrapper
            .hero-wrapper-wow.section_hero.wow
                .section_hero-head
                    .section_hero-head-content
                        h2
                            |Высокие стандарты Триумфа
                        p
                            |Качественная проверка на полиграфе окупается в десятки раз. Именно поэтому наши клиенты, юристы возвращаются к нам и рекомендуют своим знакомым.
                .section_hero-content
                    .section_hero-content-wrapper
                        .section-content-column.hero-slick
                            .slick.overflow
                                .slick-item
                                    img(src="assets/templates/triumf/images/diploms.png" alt="Дипломы, Сертификаты, Награды")
                                .slick-item
                                    img(src="assets/templates/triumf/images/diploms.png" alt="Дипломы, Сертификаты, Награды")
                                .slick-item
                                    img(src="assets/templates/triumf/images/diploms.png" alt="Дипломы, Сертификаты, Награды")
                                .slick-item
                                    img(src="assets/templates/triumf/images/diploms.png" alt="Дипломы, Сертификаты, Награды")
                                .slick-item
                                    img(src="assets/templates/triumf/images/diploms.png" alt="Дипломы, Сертификаты, Награды")
                            .slick-usedots
                            .slick-usearrows
                        .section-content-column.hero-photo
                            img.standarts-img(src="assets/templates/triumf/images/tatyana.png" alt="Татьяна Алфеева")
                .section_hero-footer.flexjustify-end
                    a(href="javascript:;").button-box
                        |Подробнее
                .color-line
