section.section.section-h.homepage
    .hero.priceshero
        .hero-wrapper
            .hero-wrapper-wow.section_hero.wow
                .section_hero-head
                    .section_hero-head-content
                        h2
                            |Услуги и цены
                        p
                            |Мы не обещаем самые низкие цены. Мы продаем услуги такого качества, которое действительно способно помочь за разумные деньги.
                .section_hero-content
                    .section_hero-content-wrapper
                        .section-row
                            .column-standart.col.col-md-4.col-sm-6
                                .column-standart-row.hovering
                                    .information-name
                                        .heading-stok.vertical-center
                                            p.heading-stok-text-info Для организаций
                                    .information-photo
                                        .stok-block
                                        .stok-block-photo(style="background-image: url(assets/templates/triumf/images/information.jpg);")
                                .column-row.mh-auto.hovering
                                    .column-standart.col.column-line.mh-auto
                                        .block-line-column
                                            .block-price-column
                                                h6 Цена для одного чел. (2 часа)
                                                p От 3 500 руб.
                            .column-standart.col.col-md-4.col-sm-6
                                .column-standart-row.hovering
                                    .information-name
                                        .heading-stok.vertical-center
                                            p.heading-stok-text-info Для организаций
                                    .information-photo
                                        .stok-block
                                        .stok-block-photo(style="background-image: url(assets/templates/triumf/images/information.jpg);")
                                .column-row.mh-auto.hovering
                                    .column-standart.col.column-line.mh-auto
                                        .block-line-column
                                            .block-price-column
                                                h6 Цена для одного чел. (2 часа)
                                                p От 3 500 руб.
                            .column-standart.col.col-md-4.col-sm-12
                                .column-standart-row.hovering
                                    .information-name
                                        .heading-stok.vertical-center
                                            p.heading-stok-text-info Для организаций
                                    .information-photo
                                        .stok-block
                                        .stok-block-photo(style="background-image: url(assets/templates/triumf/images/information.jpg);")
                                .column-row.mh-auto.hovering
                                    .column-standart.col.column-line.mh-auto
                                        .block-line-column
                                            .block-price-column
                                                h6 Цена для одного чел. (2 часа)
                                                p От 3 500 руб.
                .section_hero-footer.flexjustify-center
                    a(href="javascript:;").button-box
                        |Подробнее
