section.section.section-h.homepage
    .hero.easyorders
        .hero-wrapper
            .hero-wrapper-wow.section_hero.wow
                .section_hero-head
                    .section_hero-head-content
                        h2
                            |Лёгкость заказа
                .section_hero-content
                    .section_hero-content-wrapper
                        .section-row
                            .col.col-md-4.col-sm-6.col-xs-12.column-standart.easyorder
                                .column-standart-row.easyorder-plitka
                                    .easyorder-listitem
                                        .icon-cricle
                                            |1
                                            img(src="/assets/templates/triumf/images/easengorder_001.svg" alt="")
                                        p
                                            |Позвоните для бесплатной консультации
                            .col.col-md-4.col-sm-6.col-xs-12.column-standart.easyorder
                                .column-standart-row.easyorder-plitka
                                    .easyorder-listitem
                                        .icon-cricle
                                            |2
                                            img(src="/assets/templates/triumf/images/easengorder_002.svg" alt="")
                                        p
                                            |Согласуйте дату и время проверок работников
                            .col.col-md-4.col-sm-6.col-xs-12.column-standart.easyorder
                                .column-standart-row.easyorder-plitka
                                    .easyorder-listitem
                                        .icon-cricle
                                            |3
                                            img(src="/assets/templates/triumf/images/easengorder_003.svg" alt="")
                                        p
                                            |Оплатите счет-договор, высланный на e-mail
                            .col.col-md-4.col-sm-6.col-xs-12.column-standart.easyorder
                                .column-standart-row.easyorder-plitka
                                    .easyorder-listitem
                                        .icon-cricle
                                            |4
                                            img(src="/assets/templates/triumf/images/easengorder_004.svg" alt="")
                                        p
                                            |Отправьте нам информацию перед тестом из
                                            =' '
                                            a(href="javascript:;") ресурсного раздела
                            .col.col-md-4.col-sm-6.col-xs-12.column-standart.easyorder
                                .column-standart-row.easyorder-plitka
                                    .easyorder-listitem
                                        .icon-cricle
                                            |5
                                            img(src="/assets/templates/triumf/images/easengorder_005.svg" alt="")
                                        p
                                            |Проводим проверка на детекторе лжи
                            .col.col-md-4.col-sm-6.col-xs-12.column-standart.easyorder
                                .column-standart-row.easyorder-plitka
                                    .easyorder-listitem
                                        .icon-cricle
                                            |6
                                            img(src="/assets/templates/triumf/images/easengorder_006.svg" alt="")
                                        p
                                            |Получите отчет на e-mail или в распечатанном виде для суда
                .section_hero-footer.flexjustify-center
                    a(href="javascript:;").button-box.red-white
                        |РЕСУРСНЫЙ РАЗДЕЛ
