section.section.section-h.homepage
    .hero.informations
        .hero-wrapper
            .hero-wrapper-wow.section_hero.wow
                .section_hero-head
                    .section_hero-head-content
                        h2
                            |Почему выбирают Триумф?
                        p
                            |Экспертные компании отличаются и много зависит от принятыхстандартов проверки на полиграфе руководителем.
                .section_hero-content
                    .section_hero-content-wrapper
                        .section-row
                            .tabs
                                .tabs-head
                                    a(href="javascript:;" data-tab="tab1").active Мощные приемы в исследовании
                                    a(href="javascript:;" data-tab="tab2") Остерегайтесь подделок
                                .tabs-content
                                    .tabs-content-pane.active(data-tab="tab1")
                                        .tabs-content-pane-flex.vertical
                                            .tabs-content-pane-line
                                                .tabs-content-pane-item.hero-slick
                                                    .slick
                                                        .slick-item
                                                            .wrapper-block
                                                                .container
                                                                    ul.faq-request
                                                                        li Почему с одним и тем-же прибором разные специалисты получают разную информацию?
                                                                        li Дело не просто в полиграфе, а насколько грамотно на нем может  работать эксперт. Ведь и  следователи, и врачи  имеют разную эффективность в поиске истины.
                                                                        li Поэтому мы доучиваем эксперта, чтобы у заказчика была самая точная информация
                                                        .slick-item
                                                            .wrapper-block
                                                                .container
                                                                    ul.faq-request
                                                                        li Почему у одного эксперта много признательных показаний, а у другого почти нет?
                                                                        li Наш секрет в приемах и навыках, которые получают и оттачивают у лучших мастеров своего дела.
                                                                        li Поэтому мы никогда не считаем, что уже «всё знаем». Так думают гордецы перед своим падением.
                                                        .slick-item
                                                            .wrapper-block
                                                                .container
                                                                    ul.faq-request
                                                                        li Почему у вас эксперты работают около 2-х часов и более, а некоторые менее 30-60 мин?
                                                                        li Потому-что мы соблюдаем методику. Теоретически и температуру ртутным градусником можно измерить за 1 минуту, но будут ли результаты точны?
                                                                        li У нас можно осуществить контроль качества, обратившись напрямую к основателю Триумфа.
                                                                    br
                                                                    p
                                                                        strong
                                                                            |Татьяна Алфеева
                                                                            =' '
                                                                        a(href="tel:+74994084008")
                                                                            |+7(499)408-40-08.
                                                    .slick-usedots
                                                    .slick-usearrows
                                                .tabs-content-pane-item.tab-item-photo(style="background-image: url('assets/templates/triumf/images/photo.jpg');")
                                    .tabs-content-pane(data-tab="tab2")
                                        .tabs-content-pane-flex.vertical
                                            .tabs-content-pane-line
                                                .tabs-content-pane-item.hero-slick
                                                    .wrapper-block
                                                        .container.vertical.line.linered
                                                            p
                                                                |Поверхностное тестирование на полиграфе сторонними специалистами, иногда выдаваемые за настоящее исследование, из-за нарушения методики могут представлять угрозу для финансового благополучия организации. Обращаясь в Триумф вы можете быть уверены в том, что здесь всегда соблюдаются требования методики. Настоящее исследование длится около 2 часов и более.
                                                .tabs-content-pane-item.tab-item-photo(style="background-image: url('assets/templates/triumf/images/photo.jpg');")
