section.section.section-h.homepage
    .hero.checkfors
        .hero-wrapper
            .hero-wrapper-wow.section_hero.wow
                .section_hero-head
                    .section_hero-head-content
                        h2
                            |Проверка на полиграфе
                        p
                            |Наши заказчики уже смогли установить истину, защищая себя от ненадежных людей. Чаще всего проверку на детекторе лжи используют в следующих случаях:
                .section_hero-content
                    .section_hero-content-wrapper
                        .section-row
                            .col.col-md-3.col-sm-6.column-standart.checkfor
                                .column-standart-row.checkfor-plitka.overflow-hidden
                                    a(href="javascript:;")
                                        .actions-photo
                                            .stok-block-photo(style="background-image: url('/assets/templates/triumf/images/information_x500.jpg');")
                                                .photo
                                        .actions-name
                                            .heading-stok.text-center
                                                h4.checkfor-title
                                                    |При приеме на работу новых сотрудников
                                                img.icon(src="/assets/templates/triumf/images/goto.svg")
                            .col.col-md-3.col-sm-6.column-standart.checkfor
                                .column-standart-row.checkfor-plitka.overflow-hidden
                                    a(href="javascript:;")
                                        .actions-photo
                                            .stok-block-photo(style="background-image: url('/assets/templates/triumf/images/checkfor_002x500.jpg');")
                                                .photo
                                        .actions-name
                                            .heading-stok.text-center
                                                h4.checkfor-title
                                                    |Проверки работающего персонала
                                                img.icon(src="/assets/templates/triumf/images/goto.svg")
                            .col.col-md-3.col-sm-6.column-standart.checkfor
                                .column-standart-row.checkfor-plitka.overflow-hidden
                                    a(href="javascript:;")
                                        .actions-photo
                                            .stok-block-photo(style="background-image: url('/assets/templates/triumf/images/checkfor_003x500.jpg');")
                                                .photo
                                        .actions-name
                                            .heading-stok.text-center
                                                h4.checkfor-title
                                                    |Расследование по факту хищения
                                                img.icon(src="/assets/templates/triumf/images/goto.svg")
                            .col.col-md-3.col-sm-6.column-standart.checkfor
                                .column-standart-row.checkfor-plitka.overflow-hidden
                                    a(href="javascript:;")
                                        .actions-photo
                                            .stok-block-photo(style="background-image: url('/assets/templates/triumf/images/checkfor_004x500.jpg');")
                                                .photo
                                        .actions-name
                                            .heading-stok.text-center
                                                h4.checkfor-title
                                                    |Судебная экспертиза
                                                img.icon(src="/assets/templates/triumf/images/goto.svg")
