section.section.section-h.homepage
    .hero.actions
        .hero-wrapper
            .hero-wrapper-wow.section_hero.wow
                .section_hero-head
                    .section_hero-head-content
                        h2
                            |Лучшие предложения и акции
                        p
                            |Подберите специальное предложение на проверку с применением полиграфа (детектора лжи).
                .section_hero-content
                    .section_hero-content-wrapper
                        .section-row
                            .col.col-md-3.col-sm-6.column-standart.blockaction.block_blue
                                .column-standart-row.blockaction-plitka.overflow-hidden
                                    .actions-photo
                                        p.stok-block Знакомство со скринингом:
                                        .stok-block-photo
                                    .actions-name
                                        .heading-stok
                                            p.heading-stok-text-price 27%
                                            p.heading-stok-text-name Действительно — бессрочно
                            .col.col-md-3.col-sm-6.column-standart.blockaction.block_green
                                .column-standart-row.blockaction-plitka.overflow-hidden
                                    .actions-photo
                                        p.stok-block Знакомство со скринингом:
                                        .stok-block-photo
                                    .actions-name
                                        .heading-stok
                                            p.heading-stok-text-price 27%
                                            p.heading-stok-text-name Действительно — бессрочно
                            .col.col-md-3.col-sm-6.column-standart.blockaction.block_red
                                .column-standart-row.blockaction-plitka.overflow-hidden
                                    .actions-photo
                                        p.stok-block Знакомство со скринингом:
                                        .stok-block-photo
                                    .actions-name
                                        .heading-stok
                                            p.heading-stok-text-price 27%
                                            p.heading-stok-text-name Действительно — бессрочно
                            .col.col-md-3.col-sm-6.column-standart.blockaction.block_yellow
                                .column-standart-row.blockaction-plitka.overflow-hidden
                                    .actions-photo
                                        p.stok-block Знакомство со скринингом:
                                        .stok-block-photo
                                    .actions-name
                                        .heading-stok
                                            p.heading-stok-text-price 27%
                                            p.heading-stok-text-name Действительно — бессрочно
                .section_hero-footer.flexjustify-center
                    a(href="javascript:;").button-box
                        |Подробнее
