section.section.homepage.clientsection
    .clientsection-wrapper
        .section_hero-content
            .clientsection-wrapper-block
                p.text-center
                    |Выберете вид проверки:
                .clientsection-nav
                    ul
                        li
                            a(href="javascript:;") При приеме на работу
                        li
                            a(href="javascript:;") Периодические проверки
                        li
                            a(href="javascript:;") Проверка по факту хищения
                        li
                            a(href="javascript:;") ПФИ судебная экспертиза
                        li
                            a(href="javascript:;") Рецензирование для суда
                .clientsection-button
                    a.button-box.red(href="javascript:;")
                        |Раздел для клиента
