include php/functions.php
include php/obstart.php
doctype html
html.no-js(lang="ru" prefix="og: http://ogp.me/ns#")
	include inc/head
	body.start
		script(type="text/javascript")
			|document.body.classList.add("preload");
		.preloader
			.preloader-progress
				.preloader-progress-bar(style="width: 15%;")
		.main
			include inc/mainmenu
			include inc/header
			include inc/header2
			include inc/sectionhero_1
			include inc/sectionhero_2
			include inc/sectionhero_3
			include inc/sectionhero_4
			include inc/sectionhero_5
			include inc/sectionhero_8
			include inc/sectionhero_9
			include inc/sectionhero_10
			include inc/sectionhero_6
			include inc/sectionhero_7
			include inc/footer
		include inc/javascript
include php/obend.php
