doctype html

include php/function.php
html.no-js(lang="ru" prefix="og: http://ogp.me/ns#")
	include inc/head
	body.preload
		.main
			.header
				.header-background
				.header-wrapper
					.header-wrapper-section.clearfix
						.header-wrapper-section-column.left
							.header-wrapper-section-column-flex
								h1
									|Проверка 
									br
									|на детекторе лжи
								p
									|10 лет безупречной работы с высокой точностью
								span.info
									|Необходимая информация
								.header-wrapper-section-column-btn
									.button-box-big
										a.btn.btn-blue(href="javascript:;")
											span Выбрать вид проверки
									.button-box-big
										a.btn.btn-red(href="javascript:;")
											span Раздел для клиента
								.scroll.text-center
									img(src="assets/templates/triumf/images/arrow_down.svg" alt="scroll down")
						.header-wrapper-section-column.right
							.header-section-flex
								.header-section-flex-block
									.header-section-flex-block-wrapper
										img(src="assets/templates/triumf/images/check.svg" alt="check")
										p
											|Используются современные и закрытые от интернета методы
								.header-section-flex-block
									.header-section-flex-block-wrapper
										img(src="assets/templates/triumf/images/check.svg" alt="check")
										p
											|Качество исследований отвечает всем требованиям мировых стандартов
								.header-section-flex-block
									.header-section-flex-block-wrapper
										img(src="assets/templates/triumf/images/check.svg" alt="check")
										p
											|Эксперты Триумфа проходят строгий отбор и контроль за соблюдением методики
								.header-section-flex-block
									.header-section-flex-block-wrapper
										img(src="assets/templates/triumf/images/check.svg" alt="check")
										p
											|Гарантия качественной услуги или вернём деньги
			.menu
				.menu-panel
		.hero.clearfix
			.hero-animation
				.hero-animation-wrapper.section
					.section-head
						.section-head-content
					.section-content
						.section-content-column.hero-slick
							.slick
								.slick-item
									img(src="assets/templates/triumf/images/diploms.png" alt="Дипломы, Сертификаты, Награды")
								.slick-item
									img(src="assets/templates/triumf/images/diploms.png" alt="Дипломы, Сертификаты, Награды")
								.slick-item
									img(src="assets/templates/triumf/images/diploms.png" alt="Дипломы, Сертификаты, Награды")
								.slick-item
									img(src="assets/templates/triumf/images/diploms.png" alt="Дипломы, Сертификаты, Награды")
								.slick-item
									img(src="assets/templates/triumf/images/diploms.png" alt="Дипломы, Сертификаты, Награды")
						.section-content-column.photo
							img(src="assets/templates/triumf/images/tatyana.png" alt="Татьяна Алфеева")
						
					
		.hero.clearfix
			h1(style="font-family: 'Pragmatica'; font-weight: 100;")
				|Pragmatica
			h1(style="font-family: 'Pragmatica'; font-weight: 200;")
				|Pragmatica
			h1(style="font-family: 'Pragmatica'; font-weight: normal;")
				|Pragmatica
			h1(style="font-family: 'Pragmatica'; font-weight: bold;")
				|Pragmatica
			h1(style="font-family: 'Gilroy'; font-weight: 200;")
				|Gilroy
			h1(style="font-family: 'SFUIDisplay'; font-weight: 100;")
				|SFUIDisplay
			h1(style="font-family: 'SFUIDisplay'; font-weight: 200;")
				|SFUIDisplay
			h1(style="font-family: 'SFUIDisplay'; font-weight: normal;")
				|SFUIDisplay
			h1(style="font-family: 'Solomon-Sans'; font-weight: 100;")
				|Solomon-Sans
			h1(style="font-family: 'Solomon-Sans'; font-weight: 200;")
				|Solomon-Sans
			h1(style="font-family: 'Solomon-Sans'; font-weight: 300;")
				|Solomon-Sans
			h1(style="font-family: 'Solomon-Sans'; font-weight: normal;")
				|Solomon-Sans
			h1(style="font-family: 'Solomon-Sans'; font-weight: bold;")
				|Solomon-Sans
		include inc/javascript
				