**/*.ini
**/*.db
**/.*
**/desktop.*
/*.php
android*.*
apple*.*
browserconf*.*
favico*.*
favicon.png
favicon.svg
mstile*.*
manifest.*
safari*.*
node_modules/**/*
bower_components/**/*
test/**/*
tests/**/*
src/images/bin/**/*
src/bin/**/*
!**/.gitignore