img {
	border: 0px;
	vertical-align: middle;
	max-width: 100%;
}
.will {
	will-change: transform;
}
.clearfix {
	&:before, &:after {
		display: table;
		content: "";
		clear: both;
	}
}
.user-select {
	user-select: none;
}