.hero {
	position: relative;
	z-index: 1;
	min-width: 1200px;
	box-shadow: 0 0 1px 0 rgba(82, 111, 155, .5);
	overflow: hidden;
	@media (max-width: 991px){
		min-width: auto;
	}
	&-animation {
		&-wrapper {
			
		}
	}
}